{% extends "employee/layout.html" %}
{% block content %}
<h4>Bảng Lương</h4>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Tháng</th>
      <th>Lương cơ bản</th>
      <th>Thưởng</th>
      <th>Phạt</th>
      <th>Tổng</th>
    </tr>
  </thead>
  <tbody>
    {% for row in salary %}
    <tr>
      <td>{{ row.Thang }}</td>
      <td>{{ row.LuongCoBan }}</td>
      <td>{{ row.ThuongThem }}</td>
      <td>{{ row.Phat }}</td>
      <td><b>{{ row.Tong }}</b></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
