body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #222;
  min-height: 100vh;
  border-right: 2px solid #333;
}

.menu-item {
  display: block;
  color: #ccc;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s;
}

.menu-item:hover {
  background-color: #444;
  color: white;
}

.main {
  background-color: #fff;
  color: #000;
}

.topbar {
  height: 50px;
  background-color: #2c2c2c;
  border-radius: 8px;
}
.content {
  background-color: #f8f9fa !important;
}
