body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #eef1f5;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1f2937;
    color: white;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 15px;
}

.menu {
    padding: 10px 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background: #374151;
    border-radius: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}

.menu-item:hover {
    background: #4b5563;
    transform: translateX(5px);
}

.menu-item.active {
    background: #60a5fa !important;
    color: white !important;
}

.main {
    flex: 1;
    margin-left: 240px;
    min-height: 100vh;
}

.main-header {
    background: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    font-weight: bold;
}

.content {
    padding: 35px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 14px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.btn {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
}

th {
    background: #f3f4f6;
}

#shiftPopup {
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.45);
    justify-content:center;
    align-items:center;
}

#shiftPopup .popup-box {
    background:white;
    padding:25px;
    border-radius:12px;
    width:350px;
}
